version: '3.1'
services:
  db:
    container_name: db
    image: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tex_cards
    volumes:
      - /opt/tex-cards/mysql-data:/var/lib/mysql
    labels:
      - "traefik.enable=false"

  traefik:
    container_name: traefik
    image: traefik:2.6.0
    restart: unless-stopped
    ports:
      - 443:443
      - 8080:8080
    command:
#     - --log.level=DEBUG
      - --entrypoints.web-secure.address=:443
      - --entrypoints.webalt.address=:8080
      - --certificatesresolvers.le.acme.email=[EMAIL]
      - --certificatesresolvers.le.acme.storage=/acme.json
      - --certificatesresolvers.le.acme.tlschallenge=true
      - --providers.docker=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/tex-cards/traefik/acme.json:/acme.json
    labels:
      - "traefik.enable=false"

  java:
    container_name: java
    image: openjdk:17.0.2
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - /opt/tex-cards/java-data:/usr/jar
    working_dir: /usr/jar
    command: java -jar tex-cards-rest-service-0.0.1-SNAPSHOT.jar
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.java.rule=Host(`tex-cards.cryptric.ch`)"
      - "traefik.http.routers.java.tls.certresolver=le"
      - "traefik.http.services.java.loadbalancer.server.port=8080"
      - "traefik.http.routers.java.entrypoints=webalt"

  web:
    container_name: web
    image: nginx:latest
    volumes:
      - /opt/tex-cards/nginx/html:/var/www/tex-cards.cryptric.ch/
      - /opt/tex-cards/nginx/conf/:/etc/nginx/conf.d/
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web.rule=Host(`tex-cards.cryptric.ch`)"
      - "traefik.http.routers.web.tls.certresolver=le"
      - "traefik.http.services.web.loadbalancer.server.port=80"
      - "traefik.http.routers.web.entrypoints=web-secure"
